/* .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 4fr 1fr;
  gap: 10px; 5px
}

.container > section {
  border: 2px solid black;
  place-content: center;
  margin: 5px;
} */

/* header {
 background:   
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url("CV-Header.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */

/* #header-right {
  display: grid;
  font-size: 24px;
  border: 2px solid black;
}

#header-left {
  font-size: 24px;
  border: 2px solid red;
  display: flex;
}

#test {
  font-size: 18px;
  border: 2px solid green;
  display: flex;
}

.general {
}
.parcours {
}
.hobbies {
}

/*test header background */

.who {
  background-image: url("CV-Header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 75%;
  padding: 2rem;
  color: #fff;
  aspect-ratio: 21/3;
}
