body {
  color: black;
  display: grid;
  margin: 20px;
}

header {
  background:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url("CV-Header.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#header-right {
  display: grid;
  font-size: 24px;
  border: 2px solid black;
}

#header-left {
  font-size: 24px;
  border: 2px solid red;
  display: flex;
}

#test {
  font-size: 18px;
  border: 2px solid green;
  display: flex;
}

.general {
}
.parcours {
}
.hobbies {
}
