body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 4fr 1fr;
}

/*
header {
  /* image
 background:   
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url("CV-Header.png"); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* #header-right {
  display: grid;
  font-size: 24px;
  border: 2px solid black;
}

#header-left {
  font-size: 24px;
  border: 2px solid red;
  display: flex;
}

#test {
  font-size: 18px;
  border: 2px solid green;
  display: flex;
}

.general {
}
.parcours {
}
.hobbies {
}

*/
