/* mettre en forme tout le contenu */
body {
  color: hotpink;
  background-color: pink;
  font-family: "comic sans ms";
  text-align: center;
}

/* cibler l'image */
img {
  width: 200px;
  height: 275px;
  border-radius: 100%;
  border: 5px solid hotpink;
}

/* alligner les puces au texte
li {
  text-align: center;
  list-style-position: inside;
}
*/
