body {
  background: gray;
  font-family: Arial, sans-serif;
}

/* nomBalise -> s'applique au sélecteur <> */
h1 {
  color: blueviolet;
}

/* .nomClass -> s'applique au sélecteur class="" */
.text-blue {
  color: blue;
  margin-top: 50px; /* augmente espace entre les balises qui contienent la class="text-blue"*/
}

/* #nomID -> s'applique au sélecteur id="". Attention chaque ID est unique*/
#size-1 {
  font-size: 70px;
}

/* s'applique à toutes les balises p*/
p {
  font-size: 20px;
}

/* s'applique à toutes les balises li */
li {
  font-size: 20px;
}
